<header class="navbar bg-base-100 shadow-md fixed z-10">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl text-primary"
      ><i class="fa-solid fa-robot"></i> Pyorch</a
    >
  </div>
  <div class="flex gap-6">
    <a class="btn">
      <i class="fa-solid fa-user mr-2"></i>
      <div class="flex flex-col text-start">
        <span class="font-bold">Fernando Emerson</span>
        <span class="text-sm text-accent">Admin</span>
      </div>
    </a>
    <a class="btn btn-error btn-sm mr-3" title="Logout">
      <i class="fa-solid fa-door-open"></i>
    </a>
  </div>
</header>
