<ul class="menu menu-lg rounded-box">
  <li class="mt-2">
    <a
      routerLink="/home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="tooltip tooltip-right"
      data-tip="Home"
    >
      <i class="fa-solid fa-house"></i>
    </a>
  </li>
  <li>
    <a
      routerLink="/automacoes"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="tooltip tooltip-right"
      data-tip="Automações"
    >
      <i class="fa-solid fa-robot"></i>
    </a>
  </li>
  <li>
    <a
      routerLink="/tasks"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="tooltip tooltip-right"
      data-tip="Fila"
    >
      <i class="fa-solid fa-list-check"></i>
    </a>
  </li>
  <li>
    <a
      routerLink="/logs"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="tooltip tooltip-right"
      data-tip="Logs"
    >
      <i class="fa-regular fa-file-lines"></i>
    </a>
  </li>
  <li>
    <a
      routerLink="/workers"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="tooltip tooltip-right"
      data-tip="Workers"
    >
      <i class="fa-solid fa-laptop-code"></i>
    </a>
  </li>
  <li>
    <a class="tooltip tooltip-right" data-tip="Configurações">
      <i class="fa-solid fa-gear"></i>
    </a>
  </li>
</ul>
